---


---

<div class="services">
    <img src='assets/hook.png' alt="hook" class="services__img">
    <div class="services-inner">
        <div class="services-inner__discription">
            <span class="services-inner_discription-anchor">Latest Services</span>
            <h2 class="services-inner_discription-h2">The Best Services For You.</h2>
            <span class="services-inner_discription-text">In today's world, we're bombarded with choices. From streaming services to meal kits, it can be overwhelming to find the best option.</span>
            <button class="services-inner_discription-button">See All</button>
            <img src="" alt="" class="services-inner_discription-img">
        </div>
        <div class="services-inner__slider"></div>
    </div>
    
</div>


<style>

    .services {
        width: 100%;
    }
    .services__img {
        height: 10rem;
    }
</style>

