---
import "swiper/css";
const cases = [
  {
    name: "Tower Construction",
    picName: "case-tower.jpg",
    tag: "construction",
  },
  {
    name: "Bridge Reconstruction",
    picName: "case-bridge.jpg",
    tag: "reconstruction",
  },
  { name: "Library Design", picName: "case-library.jpg", tag: "planning" },
  {
    name: "Museum Renovation",
    picName: "case-museum.jpg",
    tag: "renovation",
  },
  {
    name: "Stadium Expansion",
    picName: "case-stadium.jpg",
    tag: "expansion",
  },
];

const processSteps = [
  {
    name: "Planning and Design",
    mediaUrl: "",
    description:
      "This stage involves defining key project parameters, developing architectural and engineering solutions. It includes data collection, site analysis, material selection, and the creation of detailed drawings and cost estimates. This phase lays the groundwork for all subsequent work.",
  },

  {
    name: "Permitting and Approvals",
    mediaUrl: "",
    description:
      "After the design phase, obtaining permits and approvals from regulatory bodies is essential. This includes verifying compliance with building codes and regulations, acquiring construction permits, and other necessary documents to ensure the project is legally sound",
  },

  {
    name: "Foundation Construction",
    mediaUrl: "",
    description:
      "This stage marks the beginning of the actual construction process with the foundation work. It involves site preparation, excavation, formwork installation, and concrete pouring. A well-constructed foundation is crucial for the building’s stability and longevity.",
  },
];
---

<section class="projects">
  <div class="projects__container">
    <h2 class="projects__title">Our Projects</h2>
    <h3 class="projects__subtitle">Trusted & Reliable</h3>
  </div>
  <div class="projects__slider swiper">
    <div class="swiper-wrapper">
      {
        cases.map((caseItem) => (
          <div class="swiper-slide">
            <img
              class="swiper__img"
              src={`/assets/${caseItem.picName}`}
              alt={caseItem.name}
            />
            <h4 class="swiper__title">{caseItem.name}</h4>
            <p class="swiper__tag">{caseItem.tag}</p>
          </div>
        ))
      }

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="projects__wrapper">
    <h2 class="projects__title">How To Process</h2>
    <h3 class="projects__subtitle">Steps in the Construction Process</h3>
    <ol class="projects__list process">
      <li class="process__item">
        <span>01. Planning and Design</span>
      </li>
    </ol>
  </div>
</section>

<style>
  .projects {
    color: #0e0e0e;
  }

  .projects__container {
    max-width: 1296px;
    margin: 0 auto;
  }

  .projects__title {
    padding-left: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
    position: relative;
  }

  .projects__title::before {
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fb5b11;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .projects__subtitle {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 67px;
  }

  .swiper {
    width: 100%;
    height: 300px;
  }

  .swiper__slide {
    width: fit-content;
  }

  .swiper__img {
    width: 623px;
    height: auto;
  }
</style>
<script>
  import Swiper from "swiper";
  const swiper = new Swiper(".swiper", {
    loop: true,
    autoplay: true,

    slidesPerView: 2,
    spaceBetween: 24,

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
