---
const links = [
  { name: "Home", href: "/", active: true },
  { name: "About", href: "/about" },
  { name: "Services", href: "/services" },
  { name: "Contact", href: "/contact" },
];
const socials = [
  { name: "Facebook", href: "http://facebook.com", svgId: "#facebook" },
  { name: "Instagram", href: "http://instagram.com", svgId: "#instagram" },
  { name: "X", href: "https://x.com", svgId: "#x" },
  { name: "LinkedIn", href: "https://linkedin.com", svgIf: "#linkedIn" },
];
---

<header class="header">
  <div class="header__wrapper">
    <a href="/" class="header__logo logo">
      <img class="logo__img" src="/assets/logo.png" alt="logo" />
      <div class="logo__text">
        <span class="logo__text-top">construction Building</span>
        <span class="logo__text-bottom">conbuild</span>
      </div>
    </a>
    <div class="header__main">
      <ul class="header__contacts contacts">
        <li class="contacts__item contacts__item--address">
          <svg class="contacts__icon contacts__icon--address" id="address"
          ></svg>
          2464 Royal Ln. Mesa, New York
        </li>
        <li class="contacts__item contacts__item--mail">
          <a class="contacts__link" href="mailto: info@golzergmail.com">
            <svg class="contacts__icon"></svg>
            info@golzergmail.com</a
          >
        </li>
        <li class="contacts__item">
          <svg class="contacts__icon"></svg>
          Mon - Sat 8:00 - 18:20
        </li>
        <ul class="header__socials socials">
          {
            socials.map((social) => (
              <li class="socials__item">
                <a href={social.href} class="socials__link">
                  <svg class="socials__icon" id={social.svgId} />
                </a>
              </li>
            ))
          }
        </ul>
      </ul>
      <ul class="header__nav nav">
        {
          links.map((navLink) => (
            <li class="nav__item">
              <a
                href={navLink.href}
                class={`nav__link ${navLink.active ? "active" : ""}`}
              >
                {navLink.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="header__phone phone">
      <a href="tel: +1(704) 555-0127" class="phone__btn">
        <svg class="phone__icon" id="#phone"></svg>
      </a>
      <div class="phone__wrapper">
        <span class="phone__text">Call us any time</span>
        <a href="tel: +1(704) 555-0127" class="phone__link"> (704) 555-0127 </a>
      </div>
    </div>
  </div>
</header>

<style>
  .header {
    background-color: #0e0e0e;
    color: #fff;
    padding-right: 100px;
    font-family: Jost, Arial, sans-serif;
  }

  .header__wrapper {
    display: flex;
  }

  .header__logo {
    width: 30%;
  }

  .logo {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .logo::before {
    content: "";
    display: block;
    width: 100%;
    height: calc(100% + 11px);
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("assets/logo-bg.png");
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  .logo__img {
    width: 86px;
    height: auto;
    position: relative;
  }

  .logo__text {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .logo__text-top {
    font-size: 14px;
    line-height: 24px;
    font-family: Barlow, Arial, sans-serif;
  }

  .logo__text-bottom {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
  }

  .contacts {
    margin: 0;
    padding: 16px 25px 17px 60px;
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .contacts__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contacts__item--address {
    margin-right: 42px;
  }

  .contacts__item--mail {
    margin-right: 62px;
  }

  .contacts__icon {
    width: 12px;
    height: 12px;
  }

  .contacts__icon--address {
    width: 8px;
  }

  .contacts__link {
    text-decoration: none;
    color: inherit;
  }

  .header__socials {
    margin-left: auto;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .socials__item {
    width: 20px;
    height: 20px;
  }

  .socials__link {
    width: 100%;
    height: 100%;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Barlow, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__link {
    color: inherit;
    text-decoration: none;
    padding: 30px 0;
    transition: 0.3s ease;
  }

  .nav__link.active,
  .nav__link:hover,
  .nav__link:active,
  .nav__link:focus {
    color: #fb5b11;
    border-bottom: 4px solid #fb5b11;
  }

  .phone {
    display: flex;
    align-items: center;
    padding-left: 23px;
    gap: 14px;
  }

  .phone__btn {
    display: flex;
    border: none;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #fb5b11;
  }

  .phone__icon {
    width: 20px;
    height: 20px;
  }

  .phone__wrapper {
    display: flex;
    flex-direction: column;
  }

  .phone__text {
    color: #cdcdcd;
    font-family: Barlow, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }

  .phone__link {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
  }

  /* .header a {
    transition: color 0.3s ease;
  }

  .header a:hover {
    color: #fb5b11;
  } */
</style>
