---

---

<div class="about">
  <div class="about__wrapper">
    <div class="about__text">
      <div class="about__industry"></div>
      <div class="about__experience"></div>
    </div>
    <div class="about__slider"></div>
  </div>
</div>

<style>
  .about {
    width: 100%;
  }
  .about__wrapper {
    max-width: 1290px;
    width: 1290px;
  }
</style>
