---

---

<div class="team-block" id="team">
    <div class="team-inner">
        <div class="team-inner__discription">
            <div class="team-inner_discription-anchor anchor">
                <span class="anchor__line-span">—</span>
                <span class="anchor__text-span">Our Team Members</span>
            </div>
            <h2 class="team-inner__discription-h2">Our Dedicated Team Members..</h2>
            <span class="team-inner__discription-text">In today's world, we're bombarded with choices. From streaming services to meal kits, it can be overwhelming to find the best option.</span>
            <a class="team-inner__discription-link link link--transparent">See All Member <svg class="team-inner__discription-link-svg">
                <use href="/dist/svg/sprite.css.svg#narrow-up"></use>
              </svg>
            </a>
        </div>
    </div>
    <img src="" alt="selected member" class="team-inner__current-member-img">
    <div class="team-inner__member-selector">
        <div class="team-inner__member">
            <div class="team-inner__member-name">Wade Warren</div>
            <div class="team-inner__member-position">Architect</div>
        </div>
        <div class="team-inner__member">
            <div class="team-inner__member-name">Brooklyn Simmons</div>
            <div class="team-inner__member-position">Architect Designer</div>
        </div>
        <div class="team-inner__member">
            <div class="team-inner__member-name">Jonson Duoing</div>
            <div class="team-inner__member-position">Architect</div>
        </div>
        <div class="team-inner__member">
            <div class="team-inner__member-name">Esther Howard</div>
            <div class="team-inner__member-position">Architect</div>
        </div>
    </div>
</div>
