---
const { title } = Astro.props;
import "@fontsource/barlow";
import "@fontsource-variable/jost";
import "normalize.css";
import { register } from "swiper/element/bundle";
register();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Jost Variable", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
</style>
